@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #009387;
  --color-secondary: #ff6d2c;
  --color-light-dark: #2e2f35;
  --color-light-Gray: #58595d;
  --color-mint: #e0f8f2;
  --color-light-mint: #f3fafa;
  --color-light-cream: #FDF3EA;
  --font-family-inter: var(--font-inter);
  --font-family-covered: var(--font-covered-by-your-grace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(breakpoint.sm)) {
    padding-inline: 2rem;
  }

  @media (min-width: theme(breakpoint.lg)) {
    padding-inline: 4rem;
  }

  @media (min-width: theme(breakpoint.xl)) {
    padding-inline: 5rem;
  }

  @media (min-width: theme(breakpoint.2xl)) {
    padding-inline: 6rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

@utility font-inter {
  font-family: var(--font-inter);
}

@utility font-covered {
  font-family: var(--font-covered-by-your-grace);
}
