@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-montserrat: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(breakpoint.sm)) {
    padding-inline: 2rem;
  }

  @media (min-width: theme(breakpoint.lg)) {
    padding-inline: 4rem;
  }

  @media (min-width: theme(breakpoint.xl)) {
    padding-inline: 5rem;
  }

  @media (min-width: theme(breakpoint.2xl)) {
    padding-inline: 6rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}
